$accent:  #e3120b;
$additional: #4f524f;
$separator: #d7d7d7;
$article: #ffffff;
$text: #121212;
$color: #fff7f3;
$background: #383e42;
$accent:  #e3120b;
$button: #3e51b5;
$button-hover: #4c60eb;
$button-focus: #4c78f5;
$link-color: #b6b6ab;
$link-hover: #3e51b5;
$body: #f2f2f2;
$dropdown-border: #d7d7d7;
$a-hover: #3e51b5;
