
.main-split{
    margin-top: 60px;
}
.sidebar-empty{
    width: 300px;
    background: $body;
}
.current-edition{
    width: 90%;
    margin-right: 20px;
    background: $article;
    display: flex;
}
.content-info{
    padding: 20px;
}
.current-content{
    display: flex;
    justify-content: space-between;
}
.edition{
    height: 350px;
    width: 270px;
    margin: -30px 20px 0 20px;
    box-shadow: 7px 7px 15px rgba(0,0,0,.3);
    img{
        height: 350px;
        width: 270px;
    }
}
.edition-content{
    display: block;
    p{
        margin-bottom: 10px;
    }
}
.info{
    p{
        font-size: 0.8em;
        color: $additional;
    }
}
.section{
    display: block;
    color: $accent;
    font-size: 0.8em;
}
.title{
    font-size: 1.2em;
    font-weight: 600;
    display: block;
    color: $text;
}
span .title:hover{
    color: $a-hover;
}
.current-edition-links{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    a{
        text-decoration: none;
    }
}
.edition-content{
    span.title:hover{
        color: $a-hover;
        transition: 0.2s;
    }
}
.links-left{
    margin-right: 40px;
    a{
        border-bottom: 1px solid $separator;
        width: 275px;
    }
    a.no-border{
        border: none;
    }
}

.links-right{
    a{
        border-bottom: 1px solid $separator;
        width: 275px;
    }
    a.no-border{
        border: none;
    }
}
.edition-button{
    background: $article;
    border: 1px solid $accent;
    color: $additional;
    margin-top: 15px;
    width: 150px;
    a{
        color: $additional;
        text-decoration: none;
        padding: 5px 22px 5px 20px;
    }
    a:hover{
        color: $a-hover;
    }
}
