
.featured-articles{
    width: 90%;
    background: $body;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featurette-wrapper{
    width: 100%;
}

.featurette{
    width: 100%;
    height: 130px;
    background: $body;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    margin-bottom: 20px;
    p{
        color: $accent;
        font-size: 0.8em;
        margin-bottom: 2px;
    }
    h3{
        font-size: 1.1em;
        font-family: serif;
    }
}

// .featurette-right{
//     margin-right: 0;
// }

.text{
    width: 50%; 
    padding: 15px;
    background: $article;
}
