
.main-content{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-family: serif;
    a{
        text-decoration: none;
        color: $text;
        position: relative;
    }
    a:hover{
        color: $a-hover;
        position: relative;
    }
    p{
        color: $text;
    }
    h5{
        color: $accent;
    }
    h4{
        font-size: 1.8em;
    }
    span{
        left: 0;
        bottom: 0;
        padding: 0 15px 15px 15px;
        position: absolute;
    }
}
.topper{
    margin-top: 20px;
}
.hero-wrapper{
    width: 90%;
    background: $article;
    margin-right: 20px;
}
.hero-primary{
    display: flex;
    justify-content: space-between;
}
.hero-primary::after{
    border-top: 1px solid #separator;
}
.info-primary{
    background:  $article;
    padding: 1em;
    position: relative;
}
.photo-primary{
    height: 350px;
    width: 640px;
    background: $additional;
    display: cover;
}
hr{
    color: $separator;
    margin-left: 15px;
    margin-right: 15px;
}
.seperator{
    border: 0.5px solid $separator;
    margin-bottom: 15px;
}
.hero-secondary{
    display: flex;
    justify-content: space-between;
}
.photo-secondary{
    background: $additional;
    height: 170px;
    width: 300px;
}
.info-secondary{
    padding: 10px;
    h4{
        font-size: 1.2em;
    }
}
.sizer{
    width: 300px;
}
.article-sidebar{
    width: 300px;
    background: $separator;
    padding: 2px;
}
.sidebar-top{
    background: $separator;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5%;
    h5{
        color: $text;
        font-family: sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        text-align: center;
    }
}
.sidebar-content{
    background: $article;
    margin: 2px;
    padding: 10px;
    height: calc((100% + 3px)  - 6%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h5{
        color: $text;
        font-family: sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        padding-top: auto;
    }
    hr{
        margin-bottom: 5px;
    }
}
.sidebar-main{
    font-family: sans-serif;
    font-size: 1.1em;
}
.sidebar-small{
    font-family: sans-serif;
    font-size: 0.9em;
}

.sidebar-wrapper a:hover{
        color: $a-hover;
    }


@media(max-width:960px){
    .latest-news-mediaQuery{
        display: block;
    }
    .article-sidebar{
        display: none;
    }
}
@media(min-width:961px){
    .latest-news-mediaQuery{
        display: none;
    }
    .article-sidebar{
        display: block;
    }
}

.latest-stories{
    text-align: center;
    background: $separator;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}
.content{
    width: 100%;
    background: $article;
    height: 80px;
    margin: 0;
    padding: 15px;
    h6{
        color: $link-color;
        font-weight: 300;
    }
}
.stories{
    hr{
        color: $separator;
        margin: 0 15px 0 15px;
        background: $article;
    }
}
