// ---- General Styles
body{
    background: $body;
}
nav{
    padding: 0;
}

.economist-container{
    display: block;
    max-width: 1308px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-color{
    background: $background;
}
.nav-container{
    background: $background;
}

.navbar-expand-lg{
    padding: 0;
}
.navbar{
    padding: 0;
    height: 62px;
    background: $background;
    color: $color;
}

// ---- Logo Styles
a.navbar-brand{
    margin: 0;
    margin-right: 16px;
    padding: 0;
}
.navbar-brand{
    background: $accent;
    height: 100%;
}
.economist-logo{
    display: flex;
    flex-direction: column;
    width: 124px;
    overflow: hidden;
    color: white;
    font-family: serif;
    span{
        text-align: center;
        font-size: 1.2em;
        height: 30px;
    }
    span:first-child{
        height: 20px;
    }
}
// ---- Link styles
a.nav-link{
    color: $link-color;
}
a.nav-link:hover{
    color: $color;
}
.nav-item{
    padding-left: 0.5em;
}
li{
    font-size: 1.2em;
}

// ---- Dropdown Styles
.dropdown-menu{
    margin: 9px 0 0;
    border-radius: 0;
    background: $body;
    border: 0;
}
.topics{
    left: -140px;
}
.more{
    left: -432px;
}
.dropdown-item{
    line-height: 2em;
    width: 212px;
    border-top: 1px solid $dropdown-border;
}
a.dropdown-item{
        padding-left: 8px;
        margin-left: 8px;
}
a.dropdown-item:hover{
    background: $body;
    color: $link-hover;
    text-indent: 10px;
    transition: 0.5s;
}
.dropdown-menu{
    box-shadow: 11px 10px 10px rgba(0,0,0,.2);
}
.all-topics{
    display: flex;
}
.topic-columns-2{
    column-count: 2;
    flex-grow: 2;
}
.topic-columns-1{
    column-count: 1;
}
.topic-head{
    display: inline-block;
}
a.special{
    padding-bottom: 0px;
}
a.special-padding{
    padding-bottom: 10px;
}
.all-topics h4{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 30px;
}
h4.special{
    padding-left: 15px;
}

// ---- Subscribe button
.btn{
    padding: 0;
}
.sub-btn{
    background: $button;
    color: white;
    height: 30px;
    width: 100px;
    margin-right: 20px;
}
.sub-btn:hover{
    background:$button-hover;
}

.hello{
    margin-right: 10px; 
}
